html {
	height: 100%;
}



body {
	height: 100%;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 0px;
}

/*
custom styling
*/

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom:60px;
}

.footer-fixed-bottom {
	position: absolute;
	bottom:15px;
	height:60px;
}

.carousel-row {
	width: 100%;
}

.mainHeader {
	margin-top: -6%;
	background: #008080;
	padding-top: 1%;
	margin-bottom: -22px;
}

.navText {
	color:black;
}

.myHome {
	margin-right:-15px;
	margin-left:-15px;
}

myForm {
	width: 80%;
}

form input .searchBox {
	width:100%;
}

.searchBtn {
	    height: 40px;
}
.dataTableImg {
	width: 100px;
	height: 100px;
	
}